#destinationButton {
	text-decoration: none;
	color: black;
}

.cards {
	margin: 0 auto;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	gap: 20px;
	font-family: "apercu", sans-serif;
}

.card {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

table {
	caption-side: bottom;
	border-collapse: collapse;
	border: tomato;
	align-content: space-between;
}

tbody, td, tfoot, th, thead, tr {
	border-color: lightblue;
	border-style: solid;
	border-width: 4px;
	align-content: center;
	text-align: center;
	/* align-content: space-between; */
	/* align-content: center; */
}

th {
	text-align: inherit;
	font-family: revert;
	text-align: -webkit-match-parent;
}

.container {
	max-width: inherit;
	position: relative;
	size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	margin-top: 5%;
	/* border: 3px solid green; */
}

.container .card {
	max-width: inherit;
	position: relative;
	background: #f0bcea;
	margin: 10px 10px;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #e6e6e6;
	transition: 0.3s ease-in-out;
	margin-top: 5%;
}

.container .card .imgBx {
	position: relative;
	max-width: inherit;
}

.container .card .imgBx img {
	max-width: inherit;
	border-radius: 10px;
}

.imgBx:hover {
	transform: scale(1.1);
}

.card__image {
	width: 100%;
	display: block;
}

.card__content {
	line-height: 1.5;
	font-size: 1em;
	padding: 15px;
	background: #fafafa;
	align-items: center;
}

.card__content>a:first-of-type {
	margin-top: 0;
	margin-bottom: 0;
}

.card__link {
	color: #64968c;
	text-decoration: none;
}

.card__link:hover {
	text-decoration: underline;
}

.itinerary__content {
	flex-direction: column;
}

img {
	max-width: 100%;
	max-height: 100%;
}

img.img-circle.img-sm {
	max-width: 100%;
	border-radius: 500px;
}

body {
	margin-top: 20px;
	background: #ebeef0;
	padding-left: 15px;
}

.img-sm {
	width: 46px;
	height: 46px;
}

.panel {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
	border-radius: 0;
	border: 0;
	margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel-body {
	padding: 25px 20px;
}

.media-block .media-left {
	display: block;
	float: left
}

.media-block .media-right {
	float: right
}

.media-block .media-body {
	display: block;
	overflow: hidden;
	width: auto
}

.middle .media-left, .middle .media-right, .middle .media-body {
	vertical-align: middle
}

.thumbnail {
	border-radius: 0;
	border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
	padding: 5px 10px;
}

.tag:not(.label) {
	background-color: #fff;
	padding: 6px 12px;
	border-radius: 2px;
	border: 1px solid #cdd6e1;
	font-size: 12px;
	line-height: 1.42857;
	vertical-align: middle;
	-webkit-transition: all .15s;
	transition: all .15s;
}

.text-muted, a.text-muted:hover, a.text-muted:focus {
	color: #acacac;
}

.text-sm {
	font-size: 0.9em;
}

.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
	line-height: 1.25;
}

.btn-trans {
	background-color: transparent;
	border-color: transparent;
	color: #929292;
}

.btn-icon {
	padding-left: 9px;
	padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
	padding: 5px 10px !important;
}

.mar-top {
	margin-top: 15px;
}

.deleteButton:hover {
	background-color: red;
}

.profile__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
} 

.update__button {
    margin: 10px;
}

.userInfo {
    background-color: white;
    border-radius: 15px;
}